@media (max-width: 1200px) {
  .works__wrap {
    max-width: 880px;
  }
  .works__body::before {
    max-width: 976px;
    transform: translate(-49.5%, -15px);
    background-size: 976px 1093px;
    background-image: url("../images/works-line-tablet.svg");
  }
}
@media (max-width: 1024px) {
  .case {
    min-height: 175px;
  }
  .case__description {
    position: relative;
    z-index: 100;
    background: none;
    opacity: 50%;
    visibility: visible;
    margin-top: 6px;
  }
  .stills {
    margin-top: -250px;
  }
  .stills__title {
    transform: translate(15%, 150%);
  }
}
@media (max-width: 992px) {
  .works__body::before {
    transform: translate(-52%, 0px);
    background-size: contain;
  }
  .works {
    padding-bottom: 150px;
  }
  .stills {
    margin-top: -150px;
  }
  .stills__title {
    transform: translate(10%, 150%);
  }
}
@media (max-width: 768px) {
  .header__list {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 100;
    display: block;
    padding: 20px;
    width: fit-content;
    border: 2px solid var(--blue-color);
    border-radius: 10px;
    transform: translate(0px, -20%);
    opacity: 0;
    visibility: hidden;
    background-color: var(--dark-color);
    transition: all 0.3s ease 0s;
  }

  .header__list.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
  }
  .header__mobile {
    display: flex;
    width: 100%;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .hero__container {
    padding: 25px 0 50px;
    position: relative;
  }

  .hero__wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero__bg {
    display: inline-block;
    position: static;
    height: 220px;
    transform: translate(0px, 0px);
  }

  .hero__info {
    margin-bottom: 100px;
  }

  .hero__nav {
    display: block;
  }

  .person-block__surname {
    transform: translate(0px, 0px);
  }

  .person-block_contacts .person-block__surname {
    transform: translate(90px, 0px);
  }
  .person-block_contacts {
    transform: translate(-45px, 0px);
  }
  .person-block_contacts .person-block__name,
  .person-block_contacts .person-block__surname {
    font-size: 64px;
  }

  .info-hero__video {
    transform: translate(0px, 0px);
  }

  .info-hero__person {
    margin-bottom: 15px;
  }

  .info-hero__skills {
    text-align: center;
  }

  .social-hero {
    display: none;
  }

  .works {
    padding-bottom: 145px;
  }

  .works__case {
    flex: 0 1 50%;
    max-width: 50%;
    width: 100%;
  }
  .works__body::before {
    max-width: 454px;
    left: 0;
    transform: translate(0, -17%);
    background-size: cover;
    background-image: url("../images/works-line-mobile.svg");
  }
  .case__description {
    margin-top: 0;
  }
  .stills {
    margin-top: -80px;
  }
  .stills__row,
  .stills__box {
    display: none;
  }

  .stills__title {
    transform: translate(0px, 0px);
    margin-bottom: 25px;
    text-align: center;
  }
  .stills__mobile {
    display: block;
  }
  .contacts__row {
    flex-direction: column;
    gap: 60px;
  }
  .contacts__box {
    display: flex;
    flex-direction: column;
  }
  .contacts__person {
    margin-bottom: 25px;
  }
  .contacts__social {
    transform: translate(-20%, 0px);
    margin-bottom: 40px;
    order: -1;
  }
  .social-contacts {
    flex-direction: column;
    align-items: center;
  }
  .social-contacts__item:nth-child(2) {
    transform: translate(65px, 0px);
  }
  .social-contacts__item:nth-child(3) {
    transform: translate(130px, 0px);
  }
  .contacts__line:last-child {
    transform: translate(65px, 0px);
  }
  .contacts__line_end {
    align-items: start;
  }
  .social-contacts__type {
    position: relative;
  }
  .social-contacts__link {
    gap: 10px;
  }
  .social-contacts__type::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: #fff;
  }
  .contacts__lable {
    font-size: 32px;
    line-height: 42px;
  }
  .social-contacts__svg {
    width: 55px;
    height: 55px;
  }
  .social-contacts__type {
    font-size: 32px;
  }
  .contacts__link {
    line-height: 42px;
    font-size: 32px;
  }
  .contacts__link::before {
    width: 100%;
  }
  .contacts__row {
    transform: translate(-5%, 0px);
  }
}
@media (max-width: 560px) {
  .works__container {
    padding: 0 40px;
  }
  .works__title {
    margin-bottom: 55px;
  }
  .works__case {
    padding: 0;
    flex: 0 1 100%;
    max-width: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .case__inner {
    display: flex;
    align-items: center;
  }

  .case {
    min-height: 158px;
  }
  .case__preview {
    flex: 1 0 calc(260 / 400 * 100%);
    max-width: calc(260 / 400 * 100%);
    width: 100%;
    padding-bottom: 160px;
  }
  .case__description {
    opacity: 1;
    justify-content: flex-start;
    text-align: left;
    margin-left: 20px;
    align-items: start;
  }
  .case__type {
    opacity: 70%;
  }
  .works__body::before {
    max-width: 425px;
    transform: translate(0, -14%);
    background-size: 425px 2116px;
    background-image: url("../images/works-line-mobile.svg");
  }
}

@media (max-width: 480px) {
  .works__container {
    padding: 0 10px;
  }
  .case {
    min-height: 120px;
  }
  .case__name,
  .case__type,
  .case__director {
    font-size: 14px;
  }
  .case__preview {
    flex: 70%;
    max-width: 70%;
    width: 100%;
    padding-bottom: 120px;
  }
  .contacts__line:last-child {
    transform: translate(0px, 0px);
  }
}
