@media (max-width: 768px) {
  .header__list {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 100;
    display: block;
    padding: 20px;
    width: fit-content;
    border: 2px solid var(--blue-color);
    border-radius: 10px;
    transform: translate(0px, -20%);
    opacity: 0;
    visibility: hidden;
    background-color: var(--dark-color);
    transition: all 0.3s ease 0s;
  }

  .header__list.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
  }
  .header__mobile {
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    width: 100%;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .hero__container {
    padding: 25px 0 50px;
    position: relative;
  }

  .hero__wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero__bg {
    display: inline-block;
    position: static;
    height: 220px;
    transform: translate(0px, 0px);
  }

  .hero__info {
    margin-bottom: 100px;
  }

  .hero__nav {
    display: block;
  }

  .person-block__surname {
    transform: translate(0px, 0px);
  }

  .info-hero__video {
    transform: translate(0px, 0px);
  }

  .info-hero__person {
    margin-bottom: 15px;
  }

  .info-hero__skills {
    text-align: center;
  }

  .social-hero {
    display: none;
  }
}
